$color-primario-a1: #5D666F;
$color-primario-a2: #414950;
$color-primario: #212529;
$color-primario-b1: #141C23;
$color-primario-b2: #0D1620;

$color-secundario-a1: #FFFFFF;
$color-secundario-a2: #FFFFFF;
$color-secundario: #F5F5F5;
$color-secundario-b1: #C6C6C6;
$color-secundario-b2: #9A9898;
