$titulos1 : 2.5em;
$titulos2 : 2em;
$titulos3 : 1.5em;
$elementosNav : 1.2em;

h1 {
    text-align: center;
    font-size: $titulos1;
}
h2 {
    text-align: center;
    font-size: $titulos2;
}
h3 {
    text-align: center;
    font-size: $titulos3;
}
p {
    text-align: justify;
}