@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import 'colores';
@import 'fuentes';
@import 'navbar';
@import 'footer';
@import 'tamaños';
* {
    font-family: $fuente;
    transition: all .2s ease;
}
//Indice
.indice {
    display: flex;
    justify-content: center;
    align-items: center;
    .list-group-item {
        background-color: $color-secundario;
        padding-right: 0px;
        width: 30rem;
        a {
            text-align: center;
            font-weight: bold;
            text-decoration: none;
        }
    }
}
//temas
.botones-tema {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    .accordion {
        width: 60%;
        background-color: #007bff;
        color: $color-secundario-a1;
        border-radius: 10px;
        .accordion-item {
            .accordion-button {
                background-color: #007bff;
                color: $color-secundario-a1;
            }
            .accordion-collapse {
                .accordion-body {
                    background-color: $color-secundario;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    .enlaceContenido {
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .secciones {
        text-align: center;
        width: 60%;
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        background-color: #007bff;
        color: $color-secundario-a1;
        border: 1px solid #007bff;
        border-radius: 5px;
        &:hover {
            background-color: #0056b3;
            color: $color-secundario-a1;
        }
    }
}
@media (max-width: 768px) {
    .indice {
        .list-group-item {
            width: 100%;
        }
    }
}