$color-primario1: #09d1eb;
$color-primario2: #07bfd8;
$color-primario3: #05adc6;
$color-primario4: #029ab3;
$color-primario5: #0088a0;

$color-secundario1: #FFFFFF;
$color-secundario2: #b2b2b2;
$color-secundario3: #3b3b3b;
