@import 'colores';
.footer {
    width: 100%;
    background-color: $color-primario1;
    margin-top: 14rem;
    padding: 20px;
    text-align: center;
    p {
        margin: 0;
        padding: 0;
    }
}