@import 'colores';

.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
        margin: 2rem;
    }
    section {
        display: flex;
        text-align: center;
        padding: 20px;
        text-align: justify;
        gap: 30px;
        background-color: $color-secundario3;
        color: $color-secundario1;
        border-radius: 5px;
        video {
            width: 50%;
            height: auto;
        }
    }
}
@media (max-width: 1024px) {
    .videos {
        section {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            video {
                width: 100%;
            }
        }
    }
}